body
{
  font-family: Helvetica, Arial, sans-serif;
}

h1
{
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#headernav ul li
{
  display: inline;
}
#headernav
{
  position: relative;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#tasklist
{
  position: relative;
  top: 20px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#settings
{
  position: relative;
  top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.task
{
  margin-bottom: 5px;
  width: 700px;
  border: 1px solid black;
  background: #BDBDBD;
}

#things_text
{
    width: 200px;
    margin-left: 10px;
}
