body
{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #999999;
}

h1
{
  position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#headernav ul li
{
  display: inline;
}
#headernav
{
  position: relative;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

#tasklist
{
  position: relative;
  top: 20px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#settings
{
  position: relative;
  top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.task
{
  margin-bottom: 5px;
  width: 600px;
  height: 22px;
  /*border: 1px solid black;*/
  background: #DDDDDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.task
{
    position: relative;
    top: 2px;
    left: 5px;
}

#things_text
{
    width: 200px;
    margin-left: 10px;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration: underline;
}

