<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <script src="/js/script.js" type="text/javascript"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
      <h1> {{heading}} </h1>
      <div id="headernav">
        <ul>
          <li class="boxmenu"><a href="/things/inbox">Inbox</a></li>
          <li class="boxmenu"><a href="/things/today">Today</a></li>
          <li class="boxmenu"><a href="/things/next">Next</a></li>
          <li class="boxmenu"><a href="/things/scheduled">Scheduled</a></li>
          <li class="boxmenu"><a href="/settings">Settings</a></li>
        </ul>
      </div>
      <div id="maincontent">
        {{{yield}}}
      </div>
    </body>
</html>
