<div id="settings">
<form action="/settings" method="post">
    <p>
    <label for="thingsdb">{{things_text}}: </label>
    <input type="text" id="thingsdb" name="thingsdb" value="{{things_url}}"><br>
    <input type="submit" value="Send"> <input type="reset">
    </p>
 </form>
</div>
