<div id="settings">
<FORM action="/settings" method="post">
    <P>
    <LABEL for="thingsdb_url">{{things_text}}: </LABEL>
              <INPUT type="text" id="thingsdb" value="{{things_url}}"><BR>
    <INPUT type="submit" value="Send"> <INPUT type="reset">
    </P>
 </FORM>
</div>
